body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a90e2; /* Dodger Blue - Main Theme Color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Style for Home Page */
#home {
    background-color: #add8e6; /* Light Blue */
}

/* Style for CV Page */
#cv {
    background-color: #87ceeb; /* Sky Blue */
}

/* Style for Game Page */
#game {
    background-color: #87ceeb; /* Deep Sky Blue */
}

header, nav, section, main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

section {
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #fff; /* White text for contrast on blue background */
}

footer p {
    margin: 0;
}
